#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logoImage
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body{
    background: rgb(7,155,255);
    background: linear-gradient(0deg, rgba(7,155,255,1) 0%, rgba(0,255,205,1) 100%);
}